<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> 
        <title>AUTO KETTLE</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="imgs/favicon.ico") }}">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>

    <body>


        <div class="form-menu">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="form">
                <form class="form-form" action="/data" method = "POST">
                    <p class="form-text">
                        <span class="form-element label">GPIO Pin</span> 
                        <span class="form-element"><input class="element" type="text" name="GPIO_pin" required=True/></span>
                    </p>
                    <p class="form-text">
                        <span class="form-element label">Water temperature</span>
                            <input class="water-range" type="range" value="80" min="30" max="100" oninput="this.nextElementSibling.value = this.value" name="kettle_temp" id="kettle_temp">
                            <output>80</output>°C  
                        </span>
                    </p>
                    <p class="form-text">
                        <input class="submit-button element" type="submit" value="Submit"/>
                    </p>
                </form>
            </div>

        </div>

        <div class="main">

            <p class="title">AutoKettle</p>

            <form action="/heat" method="GET">
                <button name="heat_button" type="submit" class="heat_button">Heat up</button>
            </form>

        </div>
            

        <div class="graph" id="temp_data" style="position: fixed; bottom: 0; width: 100%;"></div>

        <script>
            // Websocket data
            var data = []
            const socket = new WebSocket('ws://' + location.host + '/graph');
                socket.addEventListener('message', ev => {
                document.getElementById('temp_data').innerHTML = `current temperature: ${ev.data}`;
                data.push(ev.data)
                chart.updateSeries([
                    {
                        data: data
                    }
                ]);
            });
        </script>

        <div class="temperature" id="chart" style="position: fixed; bottom: 0; width: 100%;"></div>

        <script>
            var options = {
                series: [{
                    name: 'temperature',
                    data: data.slice()
                }],
                theme: {
                    monochrome: {
                        enabled: true,
                        color: '#255aee',
                        shadeTo: 'light',
                        shadeIntensity: 0.65
                }},
                chart: {
                    height: 200,
                    type: 'line',
                    animations: {
                        easing: 'linear',
                        dynamicAnimation: {
                            speed: 1000
                    }},
                    toolbar: {
                        show: false
                    },
                    zoom: {
                        enabled: false
                }},
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    range: 10,
                    tooltip: {
                        enabled: false
                    },
                    labels: {
                        show: false
                }}
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();

            window.setInterval(function () {
                getNewSeries(lastDate, {
                    min: 10,
                    max: 90
                })
                chart.updateSeries([{
                    data: data
                }])
                }, 1000)

        </script>
    </body>

</html>